@using Tp.MVC
@model Address
@{
    ViewData["Title"] = "Home Page";
}

<div  class="text-center">
    <h1 class="display-4">Consumiendo WS</h1>
    <p>Domicilio: @Model.StreetName @Model.StreetNumber.</p>
</div>
